html,body {height:100%;
    /*background: url('../img/lazybun.jpg') center center no-repeat;*/
    background-size: cover;
    background-color: dimgrey;
}

#intro {
    height: 100%;
    color: white;
}

.white {
    color: white;
}

.brute-move-40 {
    height: 40%;
}

#media {
    background-color: ghostwhite;
    height: 50%;
}
